<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.larisa.leavingpermissionapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Leaving Permission App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity.UnassignedUsersActivity"
            android:theme="@style/AppTheme.NoActionBar.UnassignedUsersForTLActivity"></activity>
        <activity android:name=".Activity.RegisterActivity"></activity>
        <activity android:name=".Activity.AdminActivity" />
        <activity android:name=".Activity.TeamLeaderUserLPList" />
        <activity android:name=".Activity.UserProfileActivity" />
        <activity android:name=".Activity.UserProfileAdminViewActivity" />
        <activity
            android:name=".Activity.SignatureActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Activity.TeamLeaderCalendar" />
        <activity android:name=".Activity.UserCalendarActivity" />
        <activity
            android:name=".Activity.ViewTeamActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTask" />
        <activity android:name=".Activity.RaportActivity" />
        <activity android:name=".Activity.UserLeavingPermissionList" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>