<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.larisa.leavingpermissionapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.LPCalendarList"></activity>
        <activity android:name=".TestCalendar" />
        <activity android:name=".Activity.FinalCalendar" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.CalendarActivity" />
        <activity android:name=".Activity.ViewTeam" />
        <activity android:name=".Activity.UserFrom" />
        <activity android:name=".Activity.AddUser" />
        <activity android:name=".Activity.RaportActivity" />
        <activity android:name=".Activity.LeavingPermissionList" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>